<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Авторизация | Тренажер слепой печати</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
<div class="center">
    <h1>Вход</h1>
    <div class="error" th:if="${error}" th:text="${error}"/>
    <form  method="post">
        <div class="txt_field">
            <input type="text" name="username"  th:required="required">
            <span></span>
            <label>Login</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" th:required="required">
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="Войти">
        <div class="signup_link">
            <a th:href="@{/signup}">Регистрация</a>
        </div>
    </form>
</div>
<div class="footer">
    <p>@erlion666</p>
</div>
</body>
</html>